# Built-in Datetime Object

In [1]:
from datetime import datetime

In [2]:
year = 2025
month = 12
day = 25
hour = 13
min = 30
sec  = 15

In [4]:
my_datetime = datetime(year, month, day, hour, min, sec)
my_datetime

datetime.datetime(2025, 12, 25, 13, 30, 15)

In [5]:
type(my_datetime)

datetime.datetime

In [7]:
print(my_datetime.year)
print(my_datetime.month)
print(my_datetime.day)

2025
12
25

# Using numpy

In [11]:
import numpy as np

In [12]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'])

array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='<U10')

In [15]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64')

array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64[D]')

'datetime64[D]' -- > D stands for day, numpy by dfault applies a day level of precision.
'datetime64[Y]' --> Y stands for year

In [16]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64[Y]')

array(['2025', '2023', '2024'], dtype='datetime64[Y]')

In [17]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64[M]')

array(['2025-12', '2023-01', '2024-07'], dtype='datetime64[M]')

In [ ]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64[ns]') # ns stands for nanoseconds

array(['2025-12-25T00:00:00.000000000', '2023-01-01T00:00:00.000000000',
       '2024-07-04T00:00:00.000000000'], dtype='datetime64[ns]')

In [19]:
np.array(['2025-12-25', '2023-01-01', '2024-07-04'], dtype='datetime64[h]')

array(['2025-12-25T00', '2023-01-01T00', '2024-07-04T00'],
      dtype='datetime64[h]')

# np.arange()

In [20]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [ ]:
# For datetime

np.arange('2024-06-01','2024-06-30',7, dtype='datetime64[D]')

array(['2024-06-01', '2024-06-08', '2024-06-15', '2024-06-22',
       '2024-06-29'], dtype='datetime64[D]')

In [22]:
np.arange('1968','1976', dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

# Pandas datetime objects

In [26]:
import pandas as pd

In [27]:
pd.date_range('2024-01-01',periods=7, freq='D')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('Jan 01, 2018',periods=7,freq='D')  # make sure to include space before year

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.to_datetime(['01/02/2018','2018-01-02','Jan 2, 2018'],format='mixed')

DatetimeIndex(['2018-01-02', '2018-01-02', '2018-01-02'], dtype='datetime64[ns]', freq=None)

In [ ]:
pd.to_datetime(['01/02/2018'], format='%d/%m/%Y', dayfirst=True) # specify the format

DatetimeIndex(['2018-02-01'], dtype='datetime64[ns]', freq=None)

In [40]:
data = np.random.randn(3,2)
cols = ['A','B']
print(data)

[[ 0.26557881  0.38824627]
 [ 0.17743778 -0.20893663]
 [-2.03645218 -2.68321549]]

In [41]:
idx = pd.date_range('2024-01-01', periods=3, freq='D')
df = pd.DataFrame(data,index = idx,columns=cols)
df

                   A         B
2024-01-01  0.265579  0.388246
2024-01-02  0.177438 -0.208937
2024-01-03 -2.036452 -2.683215

In [42]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', freq='D')

In [44]:
df.index.max()

Timestamp('2024-01-03 00:00:00')

In [45]:
df.index.argmax()  # position of the max value

np.int64(2)

In [46]:
df.index.min()

Timestamp('2024-01-01 00:00:00')

In [47]:
df.index.argmin()

np.int64(0)